.parentHero {
  background: #0a0f26;
  color: white;
  width: 100%;
  height: 100%;
}
.rowHero p {
  margin-top: 30px;
}

.h1-span {
  color: #f97316;
}

input[name="keyword"] {
  height: 1.5rem;
  width: 736%;
}

.search-select img {
  height: 20px;
}

.rowHero {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  padding-top: 100px;
}

h1 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  margin-bottom: 20px;
}

.rect-box {
  width: 676px;
  display: flex;
  background-color: #ffffff;
  border-radius: 4px;
  border: 1px solid #eeeeee;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.08);
  padding: 9px;
  gap: 25px;

  .search-text {
    display: flex;
    align-items: center;
    margin-right: 10px;
    flex-grow: 2;

    svg {
      fill: #666;
    }

    input {
      border: none;
      padding: 5px;
      border-radius: 5px;

      &::placeholder {
        color: #999;
      }
    }
  }

  .search-select {
    display: flex;

    img {
      width: 20px;
      height: 20px;
      margin-right: 5px; /* Adjust margin as needed */
    }

    select {
      border: none;
      padding: 5px;
      border-radius: 5px;
    }
  }

  button {
    background-color: #f97316;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #f86300; /* Adjust hover color as needed */
    }
  }
}
