.navbarContainer {
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px;
  background: #0a0f26;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  ul {
    display: flex;
    align-items: center;
    list-style-type: none;

    margin: 0;
    padding: 0;
  }

  li {
    margin-right: 20px;
    font-size: 16px;
    font-weight: bold;

    cursor: pointer;
  }
  button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background-color: #f97316;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  button:hover {
    background-color: #0056b3;
  }
  .liImg {
    display: flex;
    align-items: center;
  }
}
